body{
    padding: 0;
    margin: 0;
    background-color:black;
}

td{
    color: #fff;
}


a{
    color: #fff;
}

button{
    border: 1px solid;
    height: 50px;
    width: 100px;   
}

table{
    padding: 10px;
   border: 1px solid red;
   border-radius: 20px;
   background-color: red;
   width: 550px;
}

th{
    padding: 10px;
    border: 1px solid red;
    background-color: black;
    color: red;
}
td{
    padding: 10px;
    border: 1px solid red;
    background-color: black;
}

.icones{
    color: #fff;
    background-color: rgb(233, 46, 46);
    border-radius: 10px;
    height: 25px;
    width: 30px;
    cursor: pointer;
    padding: 5px;
}

.InserirP{
    margin-top: 40px;
    color: red;
    border: 1px solid;
    border-radius: 20px;
    height: 70px;
    width: 160px;
    font-size: 22px;
    background-color: black;
}

.InserirP:hover{
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    color: #ff0000;
    border:5px solid rgb(255, 0, 0);
    height: 90px;
    width: 200px;
}



